/* GLOBAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Arial";
  font-size: 16px;
  line-height: 1.5px;
  color: #222;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

img {
  min-width: 100%;
  height: auto;
}

/* CONTAINER */
.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */
.main-content{
  flex-grow: 1;
}